@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

    

}

body {
    font-family: 'Montserrat', sans-serif;

}


.header {
    width: 100%;
    /* 100% da largura do container pai dele */
    height: 95px;

    background-color: rgb(115, 156, 74);

}


.hero {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
 

}


.heroText {
    width: 35%;
    /* a estrategia é transformar essa div em flexbox PARA UTILIZAR a propriedade GAP */

    display: flex;
    flex-direction: column;

    gap: 1rem;

    

    
}


.heroText pre {
    font-size: 1.5rem;
    background-color: #8eb667;
    width: fit-content;
    border-radius: 16px;

}

.heroText h1 {
    font-size: 3rem;
    font-weight: 400;
}

.heroText h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: orangered;
}

.heroText p {
    font-size: 1.2rem;
}

.videoBg {
    width: 100%;
    position: absolute;
    z-index: -1;

}

/* 692px é a largura do celular */

/* design adaptativo -> design responsivo -> reponsividade */

@media (max-width: 692px) {
    .heroText {
        order: 2;
    }
    
}